
.carousel{
  margin-top: 50px;
}
@media only screen and (hover: none) and (pointer: coarse){

  .carousel{
    height: 200px!important;
  }
  .carousel-item{
    min-height: 200px!important;
  }
}

.parallax-container{
  background: linear-gradient(90deg, rgba(131,58,180,0.3) 0%, rgba(253,29,29,0.3) 50%, rgba(252,176,69,0.3) 100%);
}

.visit-card{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-repeat: no-repeat;
  padding-bottom:30px;
}

.visit-card .row{
  padding-top: 20px;
  margin: 0;
}

.visit-card h2{
  margin: 0;
}


#card-bg{
  background: linear-gradient(0deg, rgba(250,200,250,1) 0%, rgba(250,250,250,1) 100%);
}

#icon-bg{
  background: rgba(250,250,250,1);
}

#icon-link{
  border-radius: 50%;
}

#pp{
  margin-top:10px;
  width: 35%;
  height
}

.image-project{
 background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
 background-repeat: no-repeat;
 color: black;
}
